.animation {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: $sweetie;
    bottom: 9px;
    transform: scale(0);
    transform-origin: right;
    transition: transform 0.3s;
  }

  &:focus {
    outline-color: $blue-900;
  }

  &:hover {
    &::before {
      transform: scale(1);
      transform-origin: left;
    }
  }

  &:active {
    color: $blue-900;
  }
}

.animation-icon {
  transition: opacity 0.3s, transform 0.3s;

  &:focus {
    outline-color: $blue-900;
  }

  &:hover {
    opacity: 0.7;
    transform: scale(1.1);
  }
}
